#brand > img {
    height: 40px;
}

.shape1 {
    z-index: -2;
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    width: 100%;
}

.shape2 {
    position: absolute;
    z-index: -2;
    bottom: 0;
    right: 0;
    height: 40%;
}

#footer {
    display: flex;
    align-items: flex-end;
    padding-bottom: 16px;
}

#footer small {
    color: #adadad;

}